@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,400&display=swap');
html{
    margin:0;
    color:#FFF;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
body {
    margin: 0;
    text-align: center;
    background: rgb(241,160,153);
    background: linear-gradient(90deg, rgba(241,160,153,1) 0%, rgba(255,204,185,1) 50%);
}
    
header{
    height: 10vh;
    min-width: 390px;
}
header a{
    padding: 1em;
    float: right;
    text-decoration: none;
    color:#FFF;
    
}
header a:hover{
    
    font-weight:bold;
    font-size: 1.2em;
   
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(209,107,133, 0.2);
    transition: background 500ms;
  }
.hero{
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.title{
    font-size: 5em;
}
#hero-text{
    font-size: 1.5em;
    font-weight: 300;
}
#my-name{
    color: #D16B85;
}
section > div > h2{
    color:#D6677e;
    font-size: 4em;
    
}
.about-me{
    margin:2em;
}
.about-me-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#about-photo{
    border-radius: 50%;
    width: 50%;
    float: left; 

}
.about-me h3{
    font-size: 2em;
}
.section-name{
    margin-top:2em;
}
.project-images{
        
        height: 50%;
        object-fit: cover;
        flex-basis: 30%;
        border-radius: 10%;
        transition: transform .2s;
        cursor:pointer;
}
.project-card:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}
.project-title a{
    color: #D6677e;

    font-size: 1.2em;
}
.projects-container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 95%;
}
.project-card{
    height: 40vh;
    flex-grow: 1;
    width: 30wh;
    flex-basis: 30%;
    display: block;
    padding: 1em;
}

@media only screen and (min-width: 640px){
    .project-images{
        flex-basis:50%;
    }
}

.social-icons{
    height: 30px;
}
.contact a{
    text-decoration: none;
    color:#FFF;
}
#contact-me{
    
    
    width: 100%;
}
.contact h2{
    font-size: 3em;
    padding: 1.5em 1em .5em 1.5em;
    color: #FFF;
    text-align: left;

}
.contact h3:hover{
    font-size: 2em;
    cursor: pointer;
}
.contact-container{
    padding-top: 1em;
    
    text-align: right;
}
#nav-name{
    color: #D16B85;
    font-weight: bold;
    float: left;
    font-size: 1.2em;
}
#nav-name:hover{
    color: #FFF;
    font-size: 1em;
    font-weight: normal;
}
form{
    margin: 50px auto;
    width: 90%  ;
}
.form-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.form-item *{
    border-radius: 10px;
    flex-basis: 50%;
    border: none;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    color: #908075;
}
#submit-button{
    cursor: pointer;
    transition: 0.3s;
}
#submit-button:hover{
    cursor: pointer;
    background-color: #D16B85;
    color:white;
}
textarea{
    resize: none;
    min-width:329px;
}